/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritence from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  background-image: url("../img/bg.png");
  background-repeat:repeat;
}
body {
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #0d336e;  
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  font-size: 18px;
}


/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  height:100px;
  padding: 20px;
  text-align: center;
  margin: 10px auto;
  display: block;
}

.slogan{
  float: left;
  position: relative;
  top: 45px;
}

.click{
  font-weight: bold;
}
/*
 * Header
 */
.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: bold;
  color: #0d336e; /* IE8 proofing */
  color: rgba(13,51,110,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #0d336e;
  border-bottom-color: rgba(238,145,51,.75);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #ee9133;
  border-bottom-color: #ee9133;
}

aside { 
    position:  relative;
    left: 400px;
    top: 100px; /* set these so Chrome doesn't return 'auto' from getComputedStyle */
    width: 200px; 
    background: rgba(255,255,255,0.66); 
    border: 2px  solid rgba(0,0,0,0.5); 
    border-radius: 4px; padding: 8px;
}

  #resizable { width: 200px; height: 150px; padding: 5px; }
  #resizable h3 { text-align: center; margin: 0; }

  #easing-button { padding: .5em 1em; text-decoration: none; }
  #effect { width: 240px; height: 250px; padding: 0.4em; position: relative; background: #fff; top: 20px;}
  #effect h3 { margin: 0; padding: 0.4em; text-align: center; }

  .editor{
    display: inline-block;
    width: 500px;
    height: 270px;
    position: relative;
    top: 45px;
  }

  .toggler{ 
    width: 250px; 
    height: 250px;
    display: inline-block;
    position: absolute;
    left: 650px;
  }

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */

.section{
  height:100%;
}

.cover {
  z-index: 0;
  padding: 0 20px;
  padding-bottom: 60px;
  margin-bottom: 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}


/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(238,145,51,.75);
}

.section {
}

/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
    z-index: 50;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }

  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%;
  }
}




@media (max-width: 1000px), (max-height: 750px ) {
    .wrapped-line{
      display: none;
    }
    .largemenu{
      display: none !important;
    }

    .smallmenu{
      display: block !important;
    }

    .smallmenu > nav > ul{
      list-style-type: none;
      line-height: 1em;
    }

    .smallmenu > nav > ul > li{
      margin: 0.5em;
      padding:0.4em;
      background-color: #ee9133;
      width:300px;
      display: block;
      margin-left: auto;
      margin-right: auto;      
      border-radius:25px;
      border: 2px solid #0d336e;
      -webkit-box-shadow: 5px 5px 3px 0px rgba(0,0,0,0.3), inset 0 0 10px rgba(0,0,0,.5);
      -moz-box-shadow: 5px 5px 3px 0px rgba(0,0,0,0.3), inset 0 0 10px rgba(0,0,0,.5);
      box-shadow: 5px 5px 3px 0px rgba(0,0,0,0.3), inset 0 0 10px rgba(0,0,0,.5);
    }

    .site-wrapper{
      -webkit-box-shadow: none;
      box-shadow: none;
    }
    .section{
      height: auto !important;
      padding-top: 150px !important;
      padding-bottom: 0 !important;
    }
    .masthead{
      background-color: rgba(234,205,175,0.9);
      -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
      box-shadow: inset 0 0 100px rgba(0,0,0,.5);
    }

    .mastfoot{
      visibility: hidden;
    }

    .image{
      margin-bottom: 70px;
    }

    .editor{
      float:left;
    }
    .toggler{
      width: 520px;
      float:left;
      position: relative;
      left:0;
      top: 20px;
      padding-left: 20px;
    }
  .image img{
    float:right;
    display: block;
    width: auto;
    height: auto;
    max-width:300px;
    margin: 20px;
  }
}

@media (max-width: 1800px), (max-height: 900px ) {

}

@media (max-width: 780px) {
  .home{
    visibility: hidden;
  }
  .contact{
    visibility: hidden;
  }
}



@media (min-width: 1000px) and (min-height: 750px) {

    .smallmenu{
      display: none
    }


  .img-zoom {
      width: 120px;
      height: 120px;
      -webkit-transition: all .3s ease-in-out;
      -moz-transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out;
      -ms-transition: all .3s ease-in-out;
  }
   
  .transition {
      -webkit-transform: scale(3); 
      -moz-transform: scale(3);
      -o-transform: scale(3);
      transform: scale(3);
  }

  .wrap {
    display: inline-block;
    position: relative;
    width: 120px;
    height:120px;
    margin: 10px auto; 
    text-align: center;
  }

  .wrapped-line{
    font-size: 16px;
    width:100%;
    height: 80px;
  }

  .second{
    position: relative;
    margin-top: 80px;
  }

  .third{
    position: relative;
    margin-top: 80px;
  }

  .small_text{
      z-index: 1;
      position: relative;
      left:2px;
      width: 120px;
      line-height: 1em;
      text-align: center;
  }

  .two_lines{
    top: 70px;
  }

  .image{
    float:right;

    margin-right: 150px;
    padding-left: 100px;
    padding-bottom: 20px;
  }

  .image img{
    display: block;
    width: auto;
    height: auto;
    max-width:300px;
  }

  .text{
    float:left;
    text-align: left;
    width: 100%;
  }

  .lower{
    top:100px;
  }

  .big_text{
      display: none;
      z-index: 100;
      position: relative;
      left:-30px;
      top:-80px;
      width: 170px;
      line-height: 1.5em;
      text-align: center;
  }

  .outer-centerer{
    display: table;
    height: 120px;
    width: 120px;
    text-align: center;
    position: absolute;
    top: 0px;
    left: 0;
  }
  
  .masthead{
    background-color: rgba(238,145,51,0.2);
    -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
    box-shadow: inset 0 0 100px rgba(0,0,0,.5);
  }



    .inner-centerer{
      display: table-cell; 
      vertical-align: middle;"
    }


  .placeholder{
    height:0px;
  }

  .blue{
    color: white;
  }

  .orange{
    color:black;
  }

  .main-tech{
    font-size: 14px;
  }

}

@media (min-width: 1470px) and (min-height: 750px) {
  .main-tech{
    font-size: 16px;
  }
  .wrapped-line{
    font-size: 16px;
    width:100%;
    height: 120px;
  }

  .image img{
    display: block;
    width: auto;
    height: auto;
    max-width:600px;
  }

  .wrap {
    display: inline-block;
    position: relative;
    width: 200px;
    height:200px;
    margin: 20px auto; 
    text-align: center;
  }

  .img-zoom {
      width: 200px;
      height: 200px;
      -webkit-transition: all .3s ease-in-out;
      -moz-transition: all .3s ease-in-out;
      -o-transition: all .3s ease-in-out;
      -ms-transition: all .3s ease-in-out;
  }

  .transition {
      -webkit-transform: scale(2); 
      -moz-transform: scale(2);
      -o-transform: scale(2);
      transform: scale(2);
  }

  .outer-centerer{
    display: table;
    height: 300px;
    width: 300px;
    text-align: center;
    position: absolute;
    top: -50px;
    left: -50px;
  }  

  .small_text{
      z-index: 1;
      position: relative;
      left:0;
      width: 100%;
      line-height: 2em;
      text-align: center;
  }  

  .big_text{
      display: none;
      z-index: 100;
      position: relative;
      left:16%;
      width: 70%;
      top:0;
      line-height: 2em;
      text-align: center;
  }

  .text{
      margin-left: 100px;
      left:16%;
      width: 70%;
      line-height: 2em;
      top:0;
  }

  .placeholder{
    height:0px;
  }
}

@media (max-height: 920px) {
  .mastfoot{
    visibility: hidden;
  } 
}