@font-face { 
font-family: 'Josefin Sans'; 
src: url("../fonts/JosefinSans-Regular.ttf"); 
}

html{
    width: 100%;
}

body {
    color: #0d336e;  
    text-shadow: 0 1px 3px rgba(0,0,0,.5);
    font-size: 1.5em;
    background-image: url("../img/bg.png");
    font-family: 'Josefin Sans', "Helvetica Neue", Helvetica,Arial, sans-serif;
    line-height: 1.42857143;
    width:90%;
    margin:5%;
    text-align: center;
}

.wrapped-line{
    display: none;
}

img{
    display: block;
    max-width: 80%;
    height: auto;
    width:auto;
    margin-left: auto;
    margin-right: auto
}

h1{
    background-color: #FFB83C;
    font-size:1.6em;
    border-radius:25px;
    padding: 20px; 
    border: 3px solid #0D64C9
    text-align: center;
    -webkit-box-shadow: 3px 3px 2px 0px rgba(0,0,0,0.3), inset 0 0 15px rgba(0,0,0,.5);
    -moz-box-shadow: 3px 3px 2px 0px rgba(0,0,0,0.3), inset 0 0 15px rgba(0,0,0,.5);
    box-shadow: 3px 3px 2px 0px rgba(0,0,0,0.3), inset 0 0 15px rgba(0,0,0,.5);
}

.largemenu{
    display: none;
}

.add-text{
    display: none;
}

.inPageNav{
    display: none; 
}

nav{
    display: none; 
}

.masthead-brand{
    text-align: center;
}

.readmore{
    height: 50px; 
    width: 50px;
}